@charset "UTF-8";
/* CSS Document */

.rounded-xl {
	
border-radius: 1rem;
	
}

.navbar-brand {
  display: inline-block;
  padding: 0.75rem;
    margin-right: 1rem;
	margin-bottom: .25rem;
  font-size: 1.25rem !important;
	font-weight: bold !important;
	background-color: rgba(180,190,213,0.69);
	border-radius: 1rem;
  line-height: inherit;
  white-space: nowrap;
}